body{
    background-color: #304040;
    width: 1952px;
    height: 1125px;
}

#leftside{
    position: absolute;
    background-color:#C9D1C8;
    width: 353px;
    height: 1125px;
    border-radius: 15px;
}

#logo1{
    position: absolute;
    margin: 119px 0px 0px 162px;
}

#logo2{
    position: absolute;
    margin: 141px 0px 0px 91px;
}

#vector{
    position: absolute;
    margin: 457px 0px 0px 94px ;
}

.buttons{
    color: rgba(0, 0, 0, 0.7);
    position: absolute;
    margin: 467px 0px 0px 163px;
}

.home{
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#head{
    position: absolute;
    margin: 566.88px 0px 0px 103.16px ;
}

#minibody{
    position: absolute;
    margin: 585.97px 0px 0px 97.28px ;
}

#box{
    position: absolute;
    margin: 669px 0px 0px 100px ;
}

#gear{
    position: absolute;
    margin: 761.87px 0px 0px 97.68px;
}

#oval{
    position: absolute;
    margin: 773.63px 0px 0px 108.71px ;
}